<%= render 'shared/error_messages' %>

<div class="p-comment__formBox mt-5">
  <%= form_with model: comment do |f| %>
    <%= f.hidden_field :article_id %>
    <%= f.hidden_field :name %>
    <div class="form-group">
      <%= f.label :comment, 'Comment' %>
      <%= f.text_area :comment, class: 'form-control', rows: 4 %>
    </div>
    <%= f.submit 'Send', class: 'btn btn-primary' %>
  <% end %>
</div>
