<div class="d-flex align-items-center">
  <h1>記事一覧</h1>
  <div class="ml-auto articles__linkBox">
    <a href="/articles/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover articles__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <th><%= article.id %></th>
        <td><%= article.title %></td>
        <td><%= article.name %></td>
        <td><%= article.created_at.to_s(:datetime_jp) %></td>
        <td><%= article.updated_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
</table>
