<div class="d-flex align-items-center">
  <div class="ml-auto articles__linkBox mt-4 mb-4">
    <%= form_with url: articles_path, method: :get, class: 'articles_searchForm' do %>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {
        prompt: 'Filter by Tag',
        class: 'form-control articles__select',
        onChange: 'submit(this.form);'
      } %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="list-group mb-5">
  <% @articles.each do |article| %>
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div class="user-info mb-2">
          <img class="user-image mr-2" src="https://static.productionready.io/images/smiley-cyrus.jpg">
          <%= link_to article.name, user_path(article.user_id) %>
        </div>
        <small class="text-muted">update：<%= article.updated_at.to_s(:datetime_jp) %></small>
      </div>
      <h5><%= article.title %></h5>
      <% article.tags.each do |tag| %>
        <span class="badge badge-default">
          <%= tag.name %>
        </span>
      <% end %>
      <p class="mt-1 mb-1"><%= article.body.truncate(15) %></p>
      <small class="text-muted">
        <%= link_to 'Read more...', article %>
      </small>
    </div>
  <% end %>
</div>

<%= paginate @articles %>
