<div class="d-flex align-items-center">
  <h1>記事一覧</h1>
  <div class="ml-auto articles__linkBox">
    <%= form_tag articles_path, method: :get, class: 'articles_searchForm' do %>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {
        prompt: 'タグで絞り込み',
        class: 'form-control articles__select',
        onChange: 'submit(this.form);'
      } %>
    <% end %>
    <%= link_to '新規作成', new_article_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger">
    <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-hover articles__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.name %></td>
        <td><%= article.created_at.to_s(:datetime_jp) %></td>
        <td><%= article.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', article, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', article, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
</table>

<%= paginate @articles %>
