<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto articles__linkBox">
    <%= link_to 'Home', articles_path, class: 'btn btn-outline-dark' %>
    <% if @article.name == @current_user.name %>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-dark' %>
      <%= link_to 'Delete', @article, class: 'btn btn-outline-dark', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render @article %>

<%= render partial: 'comments/form', locals: { comment: @comment } %>

<div class="p-comment__list">
  <%= render @article.comments %>
</div>
