<% if flash[:notice] %>
  <div class="alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>ユーザ一覧</h1>
<% @users.each do |user| %>
  <dl>
    <dt><%= "id: #{user.id}" %></dt>
    <dd><%= "name: #{user.name}" %></dd>
    <dd>
      <span class="ion">
        <% if @current_user.following?(user) %>
          <%= link_to unfollow_path(user.id), method: :post do %>
            <ion-icon name="person-remove"></ion-icon>
          <% end %>
        <% else %>
          <%= link_to follow_path(user.id), method: :post do %>
            <ion-icon name="person-add"></ion-icon>
          <% end %>
        <% end %>
      </span>
    </dd>
  </dl>
<% end %>
